<a href="https://colab.research.google.com/github/clerancex/NoSQL/blob/main/MongoDB_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MongoDB Intro - In Class

In [ ]:
import pymongo
from pymongo import MongoClient

# connecting to your client MongoDB

client = MongoClient(db_url)


# See all databases: list(client.list_databases())
airbnb=client['sample_airbnb']['listingsAndReviews']
geospatial=client['sample_geospatial']['shipwrecks']
movies=client['sample_mflix']
supplies=client['sample_supplies']['sales']
training=client['sample_training']
weather=client['sample_weatherdata']['data']
grades = training['grades'] 

# OTHER NOTES --- 
# list dbs
# list_databases()

# list collections
# list_collection_names()

# SORT --> SKIP --> LIMIT
# collection.distinct('address.country')

In [ ]:
# Test connection
list(airbnb.find({'bedrooms': 10}, {"_id":0, "name":1, "bedrooms":1}))

[{'bedrooms': 10, 'name': 'Great Complex of the Cellars'},
 {'bedrooms': 10, 'name': 'Excellent Location and price !'}]

### All Query Operators discussed below can be found here:
https://docs.mongodb.com/manual/reference/operator/query/

## Question 1  

Find the number of listings in the Airbnb collection with "accommodates" value of 5 i.e. that accomodates 5 people.

In [ ]:
airbnb.count_documents({"accommodates":5})

264

In [ ]:
airbnb.find({"accommodates":5}).count()

# READ Operations
# collection.find({ <query criteria> })

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

264

## Question 2 

Find the number of documents in the Airbnb collection that have a "TV" as a value in the "amenities" array.

In [ ]:
airbnb.count_documents({"amenities":"TV"})
# "amenities": [x,y,z, ...]

4280

In [ ]:
airbnb.count_documents({"amenities": ["TV"] })

# "amenities":[x,y, ["TV"], z]

0

## Question 3

Find all the listings with 10 bedrooms, sorted by name descending and ONLY return the name, bedrooms, amenities, and address field. Limit to 1 result.



```
SELECT name, bedrooms...
FROM airbnb
WHERE bedrooms=10
ORDER BY name desc
LIMIT 1
```

In [ ]:
list(airbnb.find({"bedrooms": 10}, {"_id":0, "name":1, "bedrooms":1, "address":1}).sort("name", -1).limit(1))

# use list() to display objects in Read Operations
# collection.find( { <query criteria> }, { <projection> } ).sort().limit()

[{'address': {'country': 'Portugal',
   'country_code': 'PT',
   'government_area': 'Santa Marinha e São Pedro da Afurada',
   'location': {'coordinates': [-8.62181, 41.13354],
    'is_location_exact': False,
    'type': 'Point'},
   'market': 'Porto',
   'street': 'Vila Nova de Gaia, Porto, Portugal',
   'suburb': ''},
  'bedrooms': 10,
  'name': 'Great Complex of the Cellars'}]

## Question 4

SELECT name, number_of_reviews  <br>
FROM airbnb <br>
ORDER BY number_of_reviews desc <br>
LIMIT 1

In [ ]:
list(airbnb.find({}, {"_id":0, "name":1, "number_of_reviews":1}).sort("number_of_reviews",-1).limit(1))

[{'name': '#Private Studio - Waikiki Dream', 'number_of_reviews': 533}]

# Comparison Operators

~~~
$eq: Matches values that are equal to a specified value.
$gt: Matches values that are greater than a specified value.
$gte: Matches values that are greater than or equal to a specified value.
$in: Matches any of the values specified in an array.
$lt: Matches values that are less than a specified value.
$lte: Matches values that are less than or equal to a specified value.
$ne: Matches all values that are not equal to a specified value.
$nin: Matches none of the values specified in an array.
~~~

See https://docs.mongodb.com/manual/reference/operator/query-comparison/ for more info.

## Question 5 

Return the document where "accommodates" is greater than 6, and ordered by "number_of_reviews" descending, limit to 1 result. Only return "name", "accommodates", "number_of_reviews", and the "address".

In [ ]:
list(airbnb
     .find({"accommodates":{"$gt":6}}, {"_id":0, "name":1, "accommodates":1, "number_of_reviews":1, "address":1})
     .sort("number_of_reviews",-1)
     .limit(1)
)

[{'accommodates': 11,
  'address': {'country': 'Spain',
   'country_code': 'ES',
   'government_area': 'el Putxet i el Farró',
   'location': {'coordinates': [2.1465, 41.40914],
    'is_location_exact': False,
    'type': 'Point'},
   'market': 'Barcelona',
   'street': 'Barcelona, Catalonia, Spain',
   'suburb': 'Sarrià-Sant Gervasi'},
  'name': 'Spectacular Modern Uptown Duplex',
  'number_of_reviews': 273}]

## Question 6 - $nin

Return the document where the "accomoodates" is greater than 3 and less than 6, and "amenities" value where that does not contain a "TV" nor "Internet" and "number_of_reviews" greater than or equal to 22. Only return the name, accomodates, amenities and number_of_reviews fields and sort by the number_of_reviews field descending. Limit to 1 result.

In [ ]:
list(
    airbnb
     .find({
         "accommodates":{"$gt":3, "$lt":6}, 
         "amenities": {"$nin": ["TV", "Internet"]},
         "number_of_reviews": {"$gte": 22}
        }, 
         {"_id":0, "name":1, "accommodates":1, "amenities":1, "number_of_reviews":1})
     .sort("number_of_reviews", -1)
     .limit(1)
)

[{'accommodates': 5,
  'amenities': ['Wifi',
   'Kitchen',
   'Free parking on premises',
   'Buzzer/wireless intercom',
   'Family/kid friendly',
   'Washer',
   'First aid kit',
   'Fire extinguisher',
   'Essentials',
   'Shampoo',
   '24-hour check-in',
   'Hangers',
   'Hair dryer',
   'Iron',
   'Laptop friendly workspace',
   'translation missing: en.hosting_amenity_50',
   'High chair',
   'Hot water',
   'Bed linens',
   'Ethernet connection',
   'Microwave',
   'Coffee maker',
   'Refrigerator',
   'Dishes and silverware',
   'Cooking basics',
   'Oven',
   'Stove',
   'Patio or balcony',
   'Luggage dropoff allowed',
   'Long term stays allowed',
   'Cleaning before checkout',
   'Wide hallway clearance',
   'Wide doorway',
   'Flat path to front door',
   'Well-lit path to entrance',
   'Step-free access',
   'Accessible-height bed',
   'Step-free access',
   'Accessible-height toilet',
   'Host greets you'],
  'name': 'Lovely apartment with private parking',
  'number_of_reviews': 204}]

## Question 7 - Special Case $nin

Return the count of documents that do not have any of the following cast members: "Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", "Samuel L. Jackson","Nicolas Cage", nor "Bruce Willis".

In [ ]:
original = movies["movies"].count_documents(
    {
        "cast":{"$nin":["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
                        "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"]}
     }
)

# $nin - doesn't guarantee existence of "cast" field

castExists = movies["movies"].count_documents(
    {
        "cast":{"$nin":["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
                        "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"],
                "$exists": True}
     }
)

castFalse = movies["movies"].count_documents({"cast": {"$exists": False}})

print(f'original count: {original} , cast exists: {castExists}, cast doesnt exist: {castFalse}')

original count: 23217 , cast exists: 22827, cast doesnt exist: 390



## Question 8

Write the following in MongoDB:
    
SELECT name, number_of_reviews, beds <br>
FROM airbnb <br>
WHERE number_of_reviews >= 200 <br>
ORDER BY beds DESC <br>
LIMIT 1

In [ ]:
list(
    airbnb
        .find(
            {"number_of_reviews":{"$gte":200}},
            {"_id":0, "name":1, "number_of_reviews":1, "beds":1}
        )
        .sort("beds",-1)
        .limit(1)
)

[{'beds': 7,
  'name': 'Beautiful Home Away From Home!',
  'number_of_reviews': 219}]

## Question 9 - Special Case $ne

Return the count of all documents where the "tomates.viewer.rating" value is "$ne" to 3.

In [ ]:
movies["movies"].count_documents({
    "tomatoes.viewer.rating": {"$ne":3, "$exists":True}
})

22492



```
Movies document
{
    title: "",
    director: "",
    tomatoes: {
        ...
        viewer: {
            ...
            rating: INT
        }
    }
}
```

## Question 10 - $in

Return the count of all the documents that have the "property_type" value of "Bungalow" and "amenities" that have the following items: "TV", "Wifi","Smart TV", "Heating", "Swimming Pool", "Waterfront","Gym","Beachfront","Safe","Refrigerator", and a "Tennis Court".

In [ ]:
airbnb.count_documents({
    "property_type": "Bungalow",
    "amenities": {"$in": [
                    "TV", "Wifi","Smart TV", "Heating", "Swimming Pool", "Waterfront",
                    "Gym","Beachfront","Safe","Refrigerator", "Tennis Court"     
    ]}
})

14

## Extra Question

In [ ]:
weather.find_one({})

{'_id': ObjectId('5553a998e4b02cf7151190b8'),
 'airTemperature': {'quality': '1', 'value': -3.1},
 'callLetters': 'VCSZ',
 'dataSource': '4',
 'dewPoint': {'quality': '9', 'value': 999.9},
 'elevation': 9999,
 'position': {'coordinates': [-47.9, 47.6], 'type': 'Point'},
 'precipitationEstimatedObservation': {'discrepancy': '2',
  'estimatedWaterDepth': 999},
 'pressure': {'quality': '1', 'value': 1015.3},
 'qualityControlProcess': 'V020',
 'sections': ['AG1'],
 'skyCondition': {'cavok': 'N',
  'ceilingHeight': {'determination': '9', 'quality': '9', 'value': 99999}},
 'st': 'x+47600-047900',
 'ts': datetime.datetime(1984, 3, 5, 13, 0),
 'type': 'FM-13',
 'visibility': {'distance': {'quality': '9', 'value': 999999},
  'variability': {'quality': '9', 'value': 'N'}},
 'wind': {'direction': {'angle': 999, 'quality': '9'},
  'speed': {'quality': '9', 'rate': 999.9},
  'type': '9'}}

In [ ]:
# weather.find_one({})

# last value in sections field 
# last value in the position -> coordinates field
# skyCondition -> ceilingHeight -> value
# only project these fields


weather.find_one(
            {"sections.3": "MW1",
            "position.coordinates.1":-19.3,
            "skyCondition.ceilingHeight.value":22000},
            {"sections":1, "position":1, "skyCondition":1}
        )

{'_id': ObjectId('5553a998e4b02cf7151190cf'),
 'position': {'coordinates': [60.3, -19.3], 'type': 'Point'},
 'sections': ['AG1', 'AY1', 'GF1', 'MW1'],
 'skyCondition': {'cavok': 'N',
  'ceilingHeight': {'determination': 'C', 'quality': '1', 'value': 22000}}}

# Logical Operators

~~~
$and: Joins query clauses with a logical AND returns all documents that match the conditions of both clauses.
$not: Inverts the effect of a query expression and returns documents that do not match the query expression.
$nor: Joins query clauses with a logical NOR returns all documents that fail to match both clauses.
$or: Joins query clauses with a logical OR returns all documents that match the conditions of either clause.
~~~

See https://docs.mongodb.com/manual/reference/operator/query-logical/ for more info.

## Question 11

Rewrite the above question (Question 10) using the $or operator.

In [ ]:
airbnb.count_documents({
    "property_type": "Bungalow",
    "$or":[
           {"amenities":"TV"}, {"amenities":"Wifi"}, {"amenities":"Smart TV"}, 
           {"amenities":"Heating"}, {"amenities":"Swimming Pool"}, {"amenities":"Waterfront"}, 
           {"amenities":"Gym"}, {"amenities":"Beachfront"}, {"amenities":"Safe"},
           {"amenities":"Refrigerator"}, {"amenities":"Tennis Court"}
    ]
})

14

## Question 12

Return the count of all documents in the movies database and movies collection (i.e. movies["movies"]) where the document had either a "rated" value of "PG" or "PG-13".

In [ ]:
movies["movies"].count_documents({
    "rated":{"$in":["PG","PG-13"]}
})

4173

## Question 13 - conjunctive

Return two movies sorted by year descending where either the "awards.wins" value is greater than 250 or 
the "year" is between 2000 and 2005.

In [ ]:
list(
    movies["movies"]
     .find(
         {"$or":[
                 {"awards.wins":{"$gt":250}},
                 {"year":{"$gte":2000, "$lte":2005}}
         ]},
         {"year":1, "title":1, "awards.wins":1}
     )
     .sort("year",-1)
     .limit(2)
)

[{'_id': ObjectId('573a13d5f29313caabd9cae7'),
  'awards': {'wins': 267},
  'title': '12 Years a Slave',
  'year': 2013},
 {'_id': ObjectId('573a139af29313caabcf0e9d'),
  'awards': {'wins': 1},
  'title': 'Fantastic Four',
  'year': 2005}]

## Question 14 - disjunctive

Return 3 movies sorted by year descending where either the "awards.wins" value is greater than 250 or 
the "year" is less than or equal to 2005 or greater than or equal to 2000.

In [ ]:
list(
    movies["movies"]
     .find(
         {"$or":[
                 {"awards.wins":{"$gt":250}},
                 {"year":{"$gte":2000}},
                 {"year":{"$lte":2005}}
         ]},
         {"year":1, "title":1, "awards.wins":1}
     )
     .sort("year",-1)
     .limit(3)
)

[{'_id': ObjectId('573a13e6f29313caabdc6a9a'),
  'awards': {'wins': 1},
  'title': 'The Masked Saint',
  'year': 2016},
 {'_id': ObjectId('573a13b5f29313caabd42f7f'),
  'awards': {'wins': 1},
  'title': 'Ex Machina',
  'year': 2015},
 {'_id': ObjectId('573a13b1f29313caabd3719d'),
  'awards': {'wins': 3},
  'title': 'The Stanford Prison Experiment',
  'year': 2015}]

## Question 15 

Return a movie that has a "runtime" of greater than 90, a year greater than 2000, 
and an "imdb.votes" less than 40.

In [ ]:
list(
    movies["movies"].find({
        "$and":[
                {"runtime":{"$gt":90}},
                {"year":{"$gt":2000}},
                {"imdb.votes":{"$lt":40}}
        ]
    },
    {"runtime":1, "year":1, "imdb.votes":1}
    )
    .sort("year",-1)
    .limit(1)
)

[{'_id': ObjectId('573a13c3f29313caabd6a3ad'),
  'imdb': {'votes': 21},
  'runtime': 100,
  'year': 2015}]

## Question 16 - review several ways of $and

Return the document's title sorted by "year" descending that has a "runtime" value greater than 100, "year" greater than 2000 and less than 2005, and an "imdb.votes" value less than 30. Show 3 different ways of writing this query.

In [ ]:
# way1

list(
    movies["movies"].find({
        "$and":[
                {"runtime":{"$gt":100}},
                {"year":{"$gt":2000, "$lt":2005}},
                {"imdb.votes":{"$lt":30}}
        ]
    },
    {"runtime":1, "year":1, "imdb.votes":1}
    )
    .sort("year",-1)
    .limit(1)
)

[{'_id': ObjectId('573a13a9f29313caabd1e696'),
  'imdb': {'votes': 10},
  'runtime': 113,
  'year': 2002}]

In [ ]:
# way2

list(
    movies["movies"].find({
        "runtime":{"$gt":100},
        "year":{"$gt":2000, "$lt":2005},
        "imdb.votes":{"$lt":30}
    },
    {"runtime":1, "year":1, "imdb.votes":1}
    )
    .sort("year",-1)
    .limit(1)
)

[{'_id': ObjectId('573a13a9f29313caabd1e696'),
  'imdb': {'votes': 10},
  'runtime': 113,
  'year': 2002}]

In [ ]:
# way3

list(
    movies["movies"].find({
        "runtime":{"$gt":100},
        "imdb.votes":{"$lt":30},
        "$and":[
                {"year":{"$gt":2000}},
                {"year":{"$lt":2005}}
        ]
    },
    {"runtime":1, "year":1, "imdb.votes":1}
    )
    .sort("year",-1)
    .limit(1)
)

[{'_id': ObjectId('573a13a9f29313caabd1e696'),
  'imdb': {'votes': 10},
  'runtime': 113,
  'year': 2002}]

## Question 17 - implicit vs explicit $and


Return a document that has a "type" of movie, and where the "year" value is less than 1930 or rated a "PG", and the "imdb.votes" is greater than 100 or the runtime is greater than 120. Sort by year ascending

In [ ]:
list(
    movies["movies"]
     .find({"$and":[
            {"type":"movie"},
            {"$or":[
                    {"year":{"$lt":1930}},
                    {"rated":"PG"}
            ]},
            {"$or":[
                    {"imdb.votes":{"$gt":100}},
                    {"runtime":{"$gt":120}}
            ]}
    ]},
    {"type":1, "year":1, "rated":1, "imdb.votes":1, "runtime":1, "title":1}
    )
    .sort([("year",-1), ("title",1)])
    .limit(1)
)

[{'_id': ObjectId('573a13f2f29313caabdde2fc'),
  'imdb': {'votes': 679},
  'rated': 'PG',
  'runtime': 87,
  'title': 'Batkid Begins',
  'type': 'movie',
  'year': 2015}]

## complex sort



```
.sort([("field1", -1/1), ("field2", -1/1),...])
```

## Question 18

Return the count of all the documents in training['grades'] dataset where none of the "scores.score" values are less than 93.5

In [ ]:
training["grades"].find_one({})

{'_id': ObjectId('56d5f7eb604eb380b0d8d8ce'),
 'class_id': 339.0,
 'scores': [{'score': 78.40446309504266, 'type': 'exam'},
  {'score': 73.36224783231339, 'type': 'quiz'},
  {'score': 46.980982486720535, 'type': 'homework'},
  {'score': 76.67556138656222, 'type': 'homework'}],
 'student_id': 0.0}

In [ ]:
notAny = training["grades"].count_documents({
    "scores.score": {"$not":{"$lt":93.5}}
})

gt = training["grades"].count_documents({
    "scores.score": {"$gte":93.5}
})

print(f'r1: {notAny}, r2: {gt}')

r1: 2, r2: 23564

# Other Operators

Element, Evaluation, Geospatial, and Array operators

~~~
$text: Performs text search.
{
  $text:
    {
      $search: <string>,
      $language: <string>,
      $caseSensitive: <boolean>,
      $diacriticSensitive: <boolean>
    }
}


$elemMatch: Selects documents if element in the array field matches all the specified $elemMatch conditions.
{ <field>: { $elemMatch: { <query1>, <query2>, ... } } }



$size: Selects documents if the array field is a specified size.
{ <field>: { $size: value } }



$all: Matches arrays that contain all elements specified in the query.
{ <field>: { $all: [ <value1> , <value2> ... ] } }

~~~
text - https://docs.mongodb.com/manual/reference/operator/query/text <br>
elemMatch - https://docs.mongodb.com/manual/reference/operator/query/elemMatch/ <br>
size - https://docs.mongodb.com/manual/reference/operator/query/size/ <br>
all - https://docs.mongodb.com/manual/reference/operator/query/all/

## Question 19 - $text

Return the documents sorted by beds descending that have the word "park" or the phrase "los angeles" in the description field (index has already been created on "description") in the Airbnb dataset. Only return the description, name and limit to 1 result sorted by "beds" descending.

## Question 20 - $elemMatch

In the geospatial dataset, sorted by "latdec" descending, find a document where the "coordinates" the longitude value is greater than -90 but less than or equal -88. Limit to 1 result.

In [ ]:
geospatial.find_one({})

{'_id': ObjectId('578f6fa2df35c7fbdbaed8c4'),
 'chart': 'US,U1,graph,DNC H1409860',
 'coordinates': [-79.9081268, 9.3547792],
 'depth': '',
 'feature_type': 'Wrecks - Visible',
 'gp_quality': '',
 'history': '',
 'latdec': 9.3547792,
 'londec': -79.9081268,
 'quasou': '',
 'recrd': '',
 'sounding_type': '',
 'vesslterms': '',
 'watlev': 'always dry'}

In [ ]:
list(
    geospatial
     .find({
         "coordinates": {"$elemMatch": {
             "$lte": -88, "$gt": -90
         }}
     })
     .sort([('latdec', -1), ("longdec", -1)])
     .limit(1)
)

[{'_id': ObjectId('578f6fa3df35c7fbdbaee7ef'),
  'chart': 'US,US,graph,chart 14976',
  'coordinates': [-88.49157, 48.200457],
  'depth': '',
  'feature_type': 'Wrecks - Submerged, dangerous',
  'gp_quality': '',
  'history': '',
  'latdec': 48.200457,
  'londec': -88.49157,
  'quasou': 'depth unknown',
  'recrd': '',
  'sounding_type': '',
  'vesslterms': '',
  'watlev': 'always under water/submerged'}]

In [ ]:
geospatial.count_documents({
    "coordinates": {"$lte": -88, "$gt": -90}
})

3695

In [ ]:
geospatial.count_documents({
    "coordinates": {"$elemMatch": {
             "$lte": -88, "$gt": -90
         }}
})

768

## Question 21 - $elemMatch

In the training["companies"] dataset, return the count of documents that have at least one embedded document in the "relationships" field where the "person.first_name" value is "Ben" and the "is_past" value is False. Compare this count with the count of documents where the "relationships" field has an "is_past" value of false and a "person.first_name" value of "Ben".

In [ ]:
eleMatch = training["companies"].count_documents({
    "relationships":{
        "$elemMatch":{
            "is_past":False, "person.first_name":"Ben"
        }
    }
})

noMatch = training["companies"].count_documents({
    "relationships.person.first_name":"Ben",
    "relationships.is_past":False
})

print(f'elematch:{eleMatch}, noMatch:{noMatch}')

elematch:93, noMatch:167



```

{
...
relationships:[
    {person: {first_name: "Ben" }, is_past: False, ...}, <-- elemMatch is looking this
    {person: {first_name}, is_past: , ...}
]
```

## Question 22 - $elemMatch

In the grades collection, find a document where one element matches the type of "scores.type" 
of "exam" and "scores.score" is greater than 97.

In [ ]:
# right solution
list(
    grades
     .find({
         "scores":{
             "$elemMatch":{
                 "type": "exam",
                 "score":{"$gt":97}
             }
         }
     })
     .sort("student_id", 1)
     .limit(1)
)

[{'_id': ObjectId('56d5f7eb604eb380b0d8d8e3'),
  'class_id': 429.0,
  'scores': [{'score': 99.96286009070468, 'type': 'exam'},
   {'score': 52.9003854892853, 'type': 'quiz'},
   {'score': 27.810982235359972, 'type': 'homework'},
   {'score': 12.603238222320968, 'type': 'homework'}],
  'student_id': 2.0}]

In [ ]:
# no $elemMatch
list(
    grades
     .find({
         "scores.score":{"$gt":97},
         "scores.type": "exam"
     })
     .sort("student_id", 1)
     .limit(1)
)

[{'_id': ObjectId('56d5f7eb604eb380b0d8d8d4'),
  'class_id': 57.0,
  'scores': [{'score': 20.2317531451231, 'type': 'exam'},
   {'score': 97.5705578455598, 'type': 'quiz'},
   {'score': 15.645222266486435, 'type': 'homework'},
   {'score': 21.03830826968486, 'type': 'homework'}],
  'student_id': 0.0}]

In [ ]:

list(
    grades
     .find({
         "scores.score":{"$not": {"$lt":94}},
         "scores.type": "exam"
     })
     .sort("student_id", 1)
     .limit(1)
)

[{'_id': ObjectId('56d5f7ec604eb380b0d916fb'),
  'class_id': 213.0,
  'scores': [{'score': 95.3659889919497, 'type': 'exam'},
   {'score': 97.0992790948561, 'type': 'quiz'},
   {'score': 96.27300118012238, 'type': 'homework'},
   {'score': 94.84311311981534, 'type': 'homework'}],
  'student_id': 1591.0}]

## Question 23 - $size

In the Airbnb dataset, return the count of documents that have an "amenities" field size of 25.

In [ ]:
# $size - evaluates size of array

airbnb.count_documents({"amenities": {"$size" :25}})

173

## Question 24 - $all

Return the count of documents that have all the following values in the "amenities" field: 'TV', 'Kitchen', 'Wifi', 'Internet','Cable TV', 'Coffee maker', 'Cooking basics','Family/kid friendly', 'Gym', and 'Heating'.

In [ ]:
airbnb.count_documents({
    "amenities": {"$all": [
                     'TV', 'Kitchen', 'Wifi', 'Internet','Cable TV', 'Coffee maker', 
                     'Cooking basics','Family/kid friendly', 'Gym', 'Heating'      
    ]}
})

8

In [ ]:
airbnb.count_documents({
    "amenities": {"$in": [
                     'TV', 'Kitchen', 'Wifi', 'Internet','Cable TV', 'Coffee maker', 
                     'Cooking basics','Family/kid friendly', 'Gym', 'Heating'      
    ]}
})

5514

## Question 25 - $all with elemMatch

Return a single document sorted by class_id descending where there's one embeddded document that has "scores.type" of exam and "scores.score" of greater than 97, "scores.type" of quiz and "scores.score" of greater than 96, and
"scores.type" of homework and "scores.score" of greater than 95.

In [ ]:
# exam, gt 97
# quiz, gt 96
# homework, gt 95

list(
    grades
     .find({
         "scores":{
             "$all":[
                     {"$elemMatch":{"type": "exam", "score": {"$gt": 97}}},
                     {"$elemMatch":{"type": "quiz", "score": {"$gt": 96}}},
                     {"$elemMatch":{"type": "homework", "score": {"$gt": 95}}}
             ]
         }
     })
     .sort("student_id", -1)
     .limit(1)
)

[{'_id': ObjectId('56d5f7f1604eb380b0da4b05'),
  'class_id': 439.0,
  'scores': [{'score': 97.70221871186124, 'type': 'exam'},
   {'score': 98.38639086583655, 'type': 'quiz'},
   {'score': 43.71678839949483, 'type': 'homework'},
   {'score': 97.78339211813662, 'type': 'homework'}],
  'student_id': 9477.0}]

In [ ]:
# exam, gt 97
# quiz, gt 96
# homework, gt 95

list(
    grades
     .find({
         "scores":{
             "$all":[
                     {"$elemMatch":{"type": "exam", "score": {"$gt": 97}}},
                     {"$elemMatch":{"type": "quiz", "score": {"$gt": 96}}},
                     {"$elemMatch":{"type": "homework", "score": {"$gt": 95}}}
             ]
         }
     })
     .sort("student_id", -1)
     .limit(1)
)